<?xml version="1.0" encoding="utf-8"?>
  <configuration>
     <appSettings>
    <!-- Default System Settings -->

      <add key="DEBUG" value="express*,sabio*" />  
      <!-- <add key="DEBUG_COLORS" value="true" /> -->
      <add key="API_PREFIX" value="node-api" />
      <add key="SHOW_ROUTES" value="true"/>
      
    </appSettings>

    <system.webServer>
      <handlers>
        <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
      </handlers>
      <rewrite>
        <rules>
            <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">  
                     <match url="iisnode"/>  
            </rule>  
            <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^server.js\/debug[\/]?"/>
                </rule> 
            <rule name="SocketIO" patternSyntax="ECMAScript">
               <match url="socket.io.+"/>
              <action type="Rewrite" url="server.js"/>
            </rule>

            <rule name="DynamicContent">  
              <match url="^node-api"  ignoreCase="true" />
              <action type="Rewrite" url="server.js/{REQUEST_URI}" />
            </rule>  

       </rules>
      </rewrite>
  <iisnode      
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot; --inspect"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"      
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      watchedFiles="*.js;iisnode.yml"
      uncFileChangesPollingInterval="5000"      
      gracefulShutdownTimeout="60000"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="true"
      debugHeaderEnabled="false"
      debuggerPortRange="5058-6058"
      debuggerPathSegment="debug"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      devErrorsEnabled="true"
      flushResponse="false"      
      enableXFF="false"
      promoteServerVars=""
    
     />
      <webSocket enabled="true"/>

    </system.webServer>
  </configuration>